:root {
    --primary-color: #4169e1;
    /* Bleu royal vibrant */
    --secondary-color: #030303;
    /* Orange brûlé */
    --background-gradient: #272727;
    --text-color: #333;
    --button-color: #f3f3f4;
    --button-hover-color: #040404;
    --border-radius: 8px;
    --font-family: 'Montserrat', sans-serif;
}

.container{
    background-image: url();
    
        background-repeat:no-repeat;
    
    
        background-size:auto;
    
        background-position:left;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--text-color);
    background: var(--background-gradient);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100vh;
        text-align: center;
}

.welcome-banner {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    /* Organise les éléments en colonne */
    align-items: center;
    /* Centre les éléments horizontalement */
    justify-content: center;
    /* Centre les éléments verticalement */
    padding: 20px;
    border-radius: var(--border-radius);
    text-align: center;
    /* Centre le texte */
}

.welcome-banner p {
    margin-bottom: 20px;
    color: #ffff;
    font-size: 25px;
    /* Ajoute un espace entre le texte et le bouton */
}

.welcome-banner .action-button {
    background-color: var(--secondary-color);
    color: var(--button-color);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.welcome-banner .action-button:hover {
    background-color: var(--button-hover-color);
}

ul li {
    list-style:none;
}

.header,
.footer {
    background-color: var(--button-color);
    padding: 20px;
    text-align: center;
}

.navigation {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navigation a {
    text-decoration: none;
    color: var(--button-color);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: var(--button-hover-color);
}

.section {
    padding: 20px;
    background: var(--button-color);
    border-radius: var(--border-radius);
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.section-title {
    color: var(--primary-color);
    font-size: 2rem;
    display: flex;
    justify-content: center;

}

p{
    display: flex;
    justify-content: center;
}

#projectRequestForm {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#projectRequestForm label {
    grid-column: 1 / 2;
}

#projectRequestForm input,
#projectRequestForm select,
#projectRequestForm textarea,
#projectRequestForm button {
    grid-column: 2 / 3;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    outline: none;
}

#projectRequestForm button {
    background-color: var(--primary-color);
    color: var(--button-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#projectRequestForm button:hover {
    background-color: var(--secondary-color);
}

#projectRequestForm .submit-button {
    grid-column: 1 / 3;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--button-color);
    border: none;
    cursor: pointer;
}

#projectRequestForm .submit-button:hover {
    background-color: var(--primary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }

    .navigation a {
        margin-bottom: 5px;
    }

    #projectRequestForm {
        grid-template-columns: 1fr;
    }

    #projectRequestForm label,
    #projectRequestForm input,
    #projectRequestForm select,
    #projectRequestForm textarea,
    #projectRequestForm button {
        grid-column: 1 / 2;
    }
}